---
Language: Cpp # Also covers at least C, ObjC, ObjC++

# Default style
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 160

# Trailing comments
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# Consecutive stuff
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true

AlignAfterOpenBracket: BlockIndent
AlignArrayOfStructures: Left
ContinuationIndentWidth: 2

# Includes
SortIncludes: false

# Merging onto a single line
AllowShortEnumsOnASingleLine: false # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#allowshortblocksonasingleline
AllowShortFunctionsOnASingleLine: None # https://clang.llvm.org/docs/ClangFormatStyleOptions.html#allowshortfunctionsonasingleline

# [cpp]
PackConstructorInitializers: Never
BreakConstructorInitializers: BeforeComma
---
